@import "imports/variables.css";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  text-align: center;
}

h2 {
  display: inline-block;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--dark-font-color);
  color: var(--light-font-color);
  border-radius: 20px;
  font-size: 2.5rem;
}

h4 {
  font-family: var(--heading-font);
  margin-bottom: 0rem;
  margin-top: 1.5rem;
}

p {
  margin-top: 0rem;
}

a {
  color: var(--dark-font-color);
}

header {
  min-height: 50vh;
  position: relative;
  background-image: url("../images/desk.jpg");
  background-position: bottom;
  background-size: cover;
  background-blend-mode: saturation;
  color: var(--light-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
}

header h1 {
  margin-top: 20px;
  z-index: 100;
  font-size: 3rem;
  text-transform: uppercase;
}

header p {
  z-index: 100;
  font-size: 2rem;
  text-transform: uppercase;
}

.project-link {
  color: var(--link-font-color);
  text-decoration: none;
  margin: 0 auto;
}

.product-preview {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  align-items: end;
  justify-items: center;
  padding: 20px 20px 0px 20px;
}

.laptop {
  grid-column: 1 / 6;
  grid-row: 1 / 3;
  justify-content: start;
}

.ipad {
  grid-column: 1 / 3;
  grid-row: 2 / 5;
}

.phone {
  grid-column: 4 / 6;
  grid-row: 2 / 5;
}

.link-container {
  background: var(--light-font-color);
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.link-container a {
  font-family: var(--heading-font);
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 20px;
}

.link-container:hover {
  transform: scale(1.01);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.information_container {
  display: grid;
}

.project-section {
  padding: 20px;
  margin: none;
  text-align: center;
}

.project-section > div {
  text-align: center;
}

.project-one {
  background-color: var(--rain-color);
}

.project-two {
  background-color: var(--museum-color);
}

.project-three {
  background-color: var(--bug-color);
}
.product-preview img {
  max-width: 100%;
  max-height: 300px;
}

.buttons_container {
  display: grid;
  padding-right: 20%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  flex-wrap: wrap;
}

.buttons_container h3 {
  grid-column: 1/-1;
}

.change-button {
  position: relative;
  font-size: 1rem;
  padding: 10px;
  margin: 10px 20px 10px 0px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  overflow: hidden;
  background-color: var(--light-font-color);
  z-index: 1;
}

.change-button::after {
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  width: 6px;
  height: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: -1;
}

.change-button.selected::after,
.change-button:hover::after {
  height: 6px;
  width: 100%;
}

.change-button.selected,
.change-button:hover {
  border-radius: 10px 10px 0px 0px;
}

.proj-1_change-button.change-button.selected::after,
.proj-1_change-button.change-button:hover::after {
  background-color: var(--color-3);
}

.proj-1_change-button.change-button::after {
  background-color: var(--color-3);
}

.proj-2_change-button.change-button.selected::after,
.proj-2_change-button.change-button:hover::after {
  background-color: var(--color-1);
}

.proj-2_change-button.change-button::after {
  background-color: var(--color-1);
}
.proj-3_change-button.change-button.selected::after,
.proj-3_change-button.change-button:hover::after {
  background-color: var(--color-2);
}

.proj-3_change-button.change-button::after {
  background-color: var(--color-2);
}

.list_container {
  margin: -700px 0px -110px 0px;
  overflow: hidden;
  position: relative;
  text-align: left;
}

.information_container li {
  overflow: scroll;
  list-style: none;
  position: absolute;
  width: 90%;
  top: 100%;
  opacity: 0;
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-color: var(--light-font-color);
  padding: 30px 15px;
  border-radius: 10px;
  z-index: 100;
}

.information_container li.open {
  width: 100%;
  max-height: 500px;
  opacity: 1;
  top: 25%;
  left: 0px;
  margin: 0;
}

.modal-button-container {
  display: flex;
  justify-content: space-around;
}

.proj-1_next-button::after,
.proj-2_next-button::after,
.proj-3_next-button::after,
.proj-1_close-button::after,
.proj-2_close-button::after,
.proj-3_close-button::after {
  font-size: 1.5rem;
  margin-left: 1rem;
  background: var(--light-font-color);
  padding: 5px 8px;
  border-radius: 50%;
}

.proj-1_next-button::after,
.proj-2_next-button::after,
.proj-3_next-button::after {
  content: "👉";
}

.proj-1_close-button::after,
.proj-2_close-button::after,
.proj-3_close-button::after {
  content: "🙅";
}

.proj-1_next-button,
.proj-2_next-button,
.proj-3_next-button,
.proj-1_close-button,
.proj-2_close-button,
.proj-3_close-button {
  background: none;
  padding: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--dark-font-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.proj-1_next-button:hover,
.proj-2_next-button:hover,
.proj-3_next-button:hover,
.proj-1_close-button:hover,
.proj-2_close-button:hover,
.proj-3_close-button:hover {
  transform: scale(1.1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.proj-1_next-button,
.proj-1_close-button {
  border: solid 1px var(--color-3);
  background-color: var(--color-3);
}

.proj-2_next-button,
.proj-2_close-button {
  border: solid 1px var(--color-1);
  background-color: var(--color-1);
}

.proj-3_close-button,
.proj-3_next-button {
  border: solid 1px var(--color-2);
  background-color: var(--color-2);
}
